/* Seção de especialidades */
section.specialties {

    width: 100%;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Desnecessário, já que o valor padrão é 'auto' */
}

.specialties {
    font-size: 30px;
    text-align: center;
}

.specialties-color {
    color: #05FF59;
}

article.specialties-images {
    margin-top: 80px;
    display: flex;
    align-items: center;
    animation: enter 1.5s;
}

.specialties-images .img-1 {
    width: 500px;
    margin-right: 50px;
}

.specialties-images .img-2 {
    margin-top: -30px;
    width: 300px;
}

/* Animação de entrada */
@keyframes enter {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(-150%);
    }
    80% {
        filter: blur(5px);
        opacity: 1;
    }
    100% {
        filter: blur(0);
        transform: translateX(0);
    }
}

/* Responsividade para telas menores */
@media (max-width: 900px) {
    article.specialties-images {
        flex-direction: column;
    }

    .specialties-images .img-1 {
        width: 382px;
        margin-left: 50px; /* Ajuste mantido para maior consistência */
    }

    .specialties-images .img-2 {
        margin-top: 20px;
        margin-left: 13px;
        width: 250px;
    }
}
