.container {
    width: 100%;
    margin: 100px 0 180px; /* Uso de shorthand para margens */

}

.main {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço suficiente */
    margin-top: 100px; /* Margem superior para espaçamento */
}

.main-img {
    flex: 1; /* Flexível para ocupar espaço disponível */
    min-width: 300px; /* Tamanho mínimo para imagem */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    height: auto; /* Ajuste automático de altura */
    display: flex;
    justify-content: center;
}

.main-text {
    flex: 1; /* Flexível para ocupar espaço disponível */
    min-width: 250px;
    margin-left: 20px; /* Ajusta margem para separação */
}

.main-text h2 {
    font-size: 40px;
}

.main-text p {
    width: 80%;
    font-size: 20px;
    margin-top: 20px;
    line-height: 30px;
    white-space: pre-line; /* Alterado de line-break para white-space */
}

.main-text hr {
    width: 80%;
    margin-top: 20px;
    border: 0;
    border-bottom: 1px solid #fff;
    animation: none;
}

.projetos {
    width: 70%; /* Largura da seção de projetos */
    margin: 50px 0; /* Adiciona margens superior e inferior */
    text-align: center; /* Centraliza o texto */
    min-height: auto; /* Ajusta a altura mínima para ser automática */
}


.project {
    width: 100%;
    margin-top: 30px;
    margin-left: 40px;
    min-width: 250px;
}

.project-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.project-list li {
    cursor: auto;
    font-size: 18px;
}

.project-listOpen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.btn-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-weight: bold;
    width: 93%;
    background-color: #ffffff;
    font-size: 20px;
    padding: 6px 12px;
    border-radius: 6px;
    color: black;
    transition: 1s all;
}

.btn-project:hover {
    background-color: #cacaca;
}

.showMenu {
    margin-top: 80px; /* Corrigido de 80x para 80px */
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.openMenu {
    margin-top: 80px; /* Corrigido de 80x para 80px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1200px) {
    .projetos h1 {
        margin-right: 40px;
    }

    .main-img {
        display: none;
    }

    .container {
        margin-top: 200px;
    }

    .project {
        margin-left: 10px;
    }

    .main-text {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column; /* Muda para coluna em telas menores */
        align-items: center; /* Centraliza os itens */
    }

    .main-img,
    .main-text {
        width: 100%; /* Faz os itens ocuparem 100% da largura */
        margin-left: 0; /* Remove a margem para centralizar */
        margin-top: 20px; /* Adiciona margem superior para espaçamento */
    }

    .projetos {
        width: 90%; /* Aumenta a largura da seção de projetos para telas menores */
    }
}

@media (max-width: 600px) {
    .main {
        margin-top: 50px; /* Reduz a margem superior para telas pequenas */
    }
    
    .main-text {
        font-size: 0.9em; /* Reduz o tamanho da fonte em telas menores */
    }
    
    .projetos {
        margin: 30px 0; /* Reduz margens em telas pequenas */
    }
}


@media (max-width: 524px) {
    .main-text h2 {
        margin-left: 50px;
    }
}
