
/* Seção de contato */
section.contact {
    
    width: 100%;
    padding-top: 200px;
    padding-bottom: 50px; /* Adiciona espaço no final */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Mantém os itens no topo */
    align-items: center;
    box-sizing: border-box; /* Garante que padding seja considerado no cálculo da altura */
}

.contact {
    font-size: 30px;
    text-align: center;
}

.contact-color {
    color: #BBFFB2;
}

/* Formulário de contato */
.form-contact {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Garante que o formulário ocupe espaço suficiente */
    padding-bottom: 20px; /* Adiciona um espaço na parte inferior */
}

.form-contact input,
.form-contact textarea {
    width: 400px;
    margin-top: 40px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 7px;
    font-size: 15px;
    color: black;
    outline: none; /* Remover borda azul padrão em campos de formulário */
}

.form-contact textarea {
    padding: 20px 10px;
    resize: none; /* Impede redimensionamento do textarea */
}

.form-contact button {
    width: 390px;
    margin-top: 40px;
    padding: 10px;
    background-color: #009951;
    border-radius: 7px;
    font-size: 15px;
    transition: background-color 1s ease-in-out;
}

.form-contact button:hover {
    background-color: #01c469;
}

.form-contact p {
    width: 390px;
    color: #ffffff;
    margin-top: 11px;
    font-size: 25px;
}

/* Figuras de contato */
figure.contact-figures {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    margin-top: -50px;
}

/* Container geral */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante espaço entre os itens */
    min-height: 100vh; /* O contêiner ocupa a tela toda */
}
