
header {

    
    width: 100%;
    font-size: 20px;
    margin-top: 50px;
    
}

ul {

    display: flex;
    justify-content: end;
    
}

li {

    
    margin-right: 90px;
    cursor: pointer;


}

li:hover {


    animation: opacity 2s;

}

hr{

    border: 0;
    display: block;
    border-bottom: 1px solid #fff;
    padding: 2px;
    animation: init 1s;
    
  
}

.menuItens{

    text-align: center;
     
 
    & p {
 
     margin-top: 20px;
     cursor: pointer;
 
     &:hover {
 
        animation: opacity 2s;
         
     }
 
    }
 
 }


@keyframes init {
    from {

        opacity: 0;

    }

    to {
        
        opacity: 100;

    }
}

@keyframes opacity {


    from {

        opacity: 50%;

    }

    to {
        
        opacity: 50%;

    }
    
}

