/* Seção de experiência */
section.experience {
    width: 90%;
    margin: 200PX auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0; /* Desnecessário, já que o valor padrão é 0 */
}

.experience {
    font-size: 30px;
    text-align: center;
}

.experience-color {
    color: #05C9FF;
}

.experience-text {
    margin-top: 180px;
}

.experience-text p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 25px;
    white-space: pre-line;
}
